@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container {
  width: 100%;
  max-width: 480px;
  margin: auto;
  position: relative;
  display: block;
}
#logoImg{
    position: relative;
    display: block;
    width: 100%;
    max-width: 480px;
    height: 180px;
    margin-left: auto;
    margin-bottom: 40px;
}
#logoImg img{
    width: 100%;
    height: 100%;
}
#userId,#password{
    position: relative;
    display: block;
    width: 100%;
    max-width: 480px;
    height: 45px;
    margin-left: auto;
    margin-bottom: 20px;
}

#loginBtn{
    position: relative;
    display: block;
    width: 100%;
    max-width: 480px;
    height: 53px;
    margin: auto;
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 31px;
}
#login-search{
    width: 100%;
}
#userInfoFind{
    position: relative;
    display: block;
    float: right;
    cursor: pointer;
    font-size: 14px;
    padding-left: 10px;
}
#loginSite{
    position: relative;
    display: flex;
    gap: 50px;
    justify-content: center;
    cursor: pointer;
    margin-top: 29px;
    margin-bottom: 41px;
}
#signUpBtn{
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 480px;
    height: 53px;
    background-color: #FF370B;
    color: #fff;
    border-style: none;
    font-size: 20px;
    cursor: pointer;
}

/*  */
#idSave input[type="checkbox"] {
    accent-color: #FF370B;
}

