@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.container {
  width: 90%;
  max-width: 480px;
  min-width: 310px;
  margin: auto;
  position: relative;
  display: block;
}
#login-form {
  width: 100%;
  max-width: 480px;

  position: relative;
  display: block;
}
#logoImg {
  position: relative;
  display: block;
  width: 100%;
  max-width: 480px;

  margin-bottom: 50px;
}
#logoImg img {
  width: 100%;
}
#consent {
  list-style: none; 
  padding: 0;
}

#consent li {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  margin-bottom: 10px; 
}

#consent label {
  display: flex;
  align-items: center; 
}
form #userId,
#userPassWord,
#userEmail,
#userNumber {
  width: 100%;
  max-width: 480px;
  height: 45px;
  border-radius: 5px;
  margin: 7px auto;
}
#phonNumber input {
  margin: auto;
}
h2{
  margin:25px 0
}
#certified {
  width: 200px;
  height: 45px;
  float: right;
  font-size: 13px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 13px 5px;
  border-radius: 5px;
  cursor: pointer;
}
#phonNumber {
  display: flex;
  align-items: center; 
}
#phonNumber input {
  margin-right: 10px; 
}
#num {
  color: #000; 
  font-size: 16px; 
}
.show {
  margin-left: 20px; /* '내용보기'를 오른쪽으로 밀기 */
  cursor: pointer;
  color: #d9d9d9;
}
ul li label {
  font-size: 14px;
  font-weight: bold;
}
#signUpBtn {
  position: relative;
  display: block;
  width: 100%;
  min-width: 320px;
  max-width: 480px;
  height: 53px;
  margin: auto;
  background-color: #ff370b;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-top: 29px;
  margin-bottom: 31px;
  border-style: none;
}

@media screen and (max-width:320px) {
  .container {
    width: 100%;
    margin: auto;
    position: relative;
    display: block;
  }
  #login-form {
    width: 90%;
    position: relative;
    display: block;
  }
  #logoImg {
    position: relative;
    display: block;
    width: 100%;
    max-width: 480px;
    min-width: 310px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #logoImg img {
    width: 100%;
  }
  #consent {
    list-style: none; 
    padding: 0;
  }
  
  #consent li {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 10px; 
  }
  
  #consent label {
    display: flex;
    align-items: center; 
  }
  form #userId,
  #userPassWord,
  #userEmail,
  #userNumber {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    margin: 7px auto;
  }
  #phonNumber input {
    margin: auto;
  }
  h2{
    margin:25px 0
  }
  #certified {
    width: 200px;
    height: 45px;
    float: right;
    font-size: 13px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 13px 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  #phonNumber {
    display: flex;
    align-items: center; 
  }
  #phonNumber input {
    margin-right: 10px; 
  }
  #num {
    color: #000; 
    font-size: 16px; 
  }
  .show {
    margin-left: 20px; /* '내용보기'를 오른쪽으로 밀기 */
    cursor: pointer;
    color: #d9d9d9;
  }
  ul li label {
    font-size: 14px;
    font-weight: bold;
  }
  #signUpBtn {
    position: relative;
    display: block;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    height: 53px;
    margin: auto;
    background-color: #ff370b;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-top: 29px;
    margin-bottom: 31px;
    border-style: none;
  }
}