@charset "utf-8";
@import url("header.css");
@import url("footer.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Noto Sans KR", sans-serif;
}
a{
    text-decoration: none;
    color: #000;
    font-family: "Noto Sans KR", sans-serif;
}
.inner{
    margin: 0 auto;
    width: 100%;
    max-width: 1232px;
}